<div class="container">
  <h1 class="display-3">Protected Page</h1>
  <p>This is the protected page.</p>
  <p>You can register FIDO U2F devices at your <%= link_to 'account', edit_user_registration_path %> page.</p>
</div>
