<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Welcome to <%= t 'site.long_title' %></h1>
    <p>This is the home page for the <%= t 'site.short_title' %> application. This application demonstrates usage of Rails 5.1 together with Bootstrap 4 and Devise 4.3.</p>
    <p>Additionally, it explains how to add the <code>gem 'devise-fido-usf'</code> to Devise which allows for authentication using a second factor, i.e. a FIDO U2F security token like the Yubico key.</p>
  </div>
</div>

