  <table class="table table-striped">
    <thead>
      <th><%= FidoUsf::FidoUsfDevice.human_attribute_name('name') %></th>
      <th><%= FidoUsf::FidoUsfDevice.human_attribute_name('last_authenticated_at') %></th>
      <th><%= t('common.actions') %></th>
    </thead>
    <tbody>
     <%= render partial: 'devise/fido_usf_registrations/device', collection: current_user.fido_usf_devices %>
    </tbody>
  </table>
