<div class="container mt-5">
  <div class="row">
    <div class="col-md-5 order-2">
      <%= render 'signin_or_registration', sign_in: local_assigns[:sign_in]  %>
    </div>
    <div class="col-md-7 order-1">
      <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">Example Application</h1>
            <p class="lead">Please register before login.</p>
            <p><%= Forgery(:lorem_ipsum).words(100) %></p>
        </div>
      </div>
    </div>
  </div>
</div>
