      <ul class="nav nav-tabs card-header-tabs" id="tabSignRegister" role="tablist">
        <li class="nav-item"><a class="nav-link<%= " active" if local_assigns[:sign_in] %>" id="sign-in-tab" data-toggle="tab" href="#sign-in" role="tab"><%= t('devise.sessions.sign_in') %></a></li>
        <li class="nav-item"><a class="nav-link<%= " active" if !local_assigns[:sign_in] %>" id="register-tab" data-toggle="tab" href="#register" role="tab"><%= t('devise.registrations.register') %></a></li>
      </ul>
