      <ul class="nav nav-tabs" id="tabSignRegister" role="tablist">
        <li class="nav-item"><a class="nav-link<%= " active" if local_assigns[:log_in] %>" id="log-in-tab" data-toggle="tab" href="#log-in" role="tab">Log in</a></li>
        <li class="nav-item"><a class="nav-link<%= " active" if !local_assigns[:log_in] %>" id="register-tab" data-toggle="tab" href="#register" role="tab">Register</a></li>
      </ul>
